@charset "utf-8";

/* Reset Styles */
*, *::after, *::before { margin: 0; padding: 0; border: 0; line-height: inherit; color: inherit; text-transform: inherit; font-weight: inherit; font-style: inherit; font-size: inherit; font-family: inherit; background-color: transparent; outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -moz-box-sizing: border-box; box-sizing: border-box; }
ol, ul { list-style: none inside none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: inherit;}
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
blockquote, q { quotes: "" ""; }
button { cursor: pointer; }
button:focus, button:active { outline:0; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { padding:0; border: 0; margin: 0; line-height: normal; }
header, footer, nav, article, section, main { display: block; }
:-ms-input-placeholder { color: #ccc; opacity: 1; }
::-webkit-input-placeholder { color: #ccc; opacity: 1; }
::-moz-placeholder { color: #ccc; opacity: 1; }
::-ms-clear { display: none; }
select.__placeholder { color: #ccc; opacity: 1; }
input, textarea, select { background: none; margin: 0; padding: 0; display: block; width: 100%; line-height: normal; -moz-user-select: text; -webkit-user-select: text; -ms-user-select: text; -webkit-appearance: none; -moz-appearance: none; appearance: none; resize: none; }
textarea { height: 100%; }
select::-ms-expand { display: none; }

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) { }
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) { }
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) { }
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) { }

/*-------------------------
	Core Elements/Tags
---------------------------*/
html { font-size: 16px; -webkit-text-size-adjust: 100%; }
body { font-size: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: ""; background-color: #999; }

/*-------------------------
	container
---------------------------*/
.container { margin: 0 auto; padding: 0 20px;}

@media only screen and (min-width : 480px) { }
@media only screen and (min-width : 768px) { }
@media only screen and (min-width : 992px) { 
	.container { padding: 0 50px; max-width: 1200px;}
}
@media only screen and (min-width : 1200px) { }

/*-------------------------
	heading
---------------------------*/
.heading { font-size: 1.275rem; }
.heading--footer-column { font-size: 1.125rem; }
.heading--alt { font-size: 1.125rem;  }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {
	.heading { font-size: 1.85rem; }
	.heading--footer-column { font-size: 1.275rem; }
	.heading--alt { font-size: 1.5rem; }
}
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	buttons
---------------------------*/
.btn { text-decoration: none; }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	User Generated Content
---------------------------*/
.user-generated-content {  }
.user-generated-content img, .user-generated-content .wp-caption { max-width:100%; height: auto;}
.user-generated-content .alignleft { float:left; margin-right:15px; }
.user-generated-content .alignright { float:right; margin-left:15px;}
.user-generated-content .aligncenter { margin:0 auto; display: block; }
.user-generated-content .wp-caption-text { font-size: .9rem; font-style: italic;  }
.user-generated-content p { margin: 18px 0 0;  }
.user-generated-content p:after { content:' '; display:block; clear:both; }
.user-generated-content h1, h3, h5 { font-size: 1.275rem; }
.user-generated-content h2, h4, h6 { font-size: 1.125rem; }
.user-generated-content blockquote { background: #EFEFEF; padding: 5px; margin: 15px 0; }
.user-generated-content table { border: 1px solid #000; }
.user-generated-content th { border: 1px solid #000; padding: 5px; font-weight: bold;  }
.user-generated-content td { border: 1px solid #000; padding: 5px; }
.user-generated-content li { margin-left:20px; }
.user-generated-content ul li { list-style-type:disc; }
.user-generated-content ol li { list-style-type:decimal; }
.user-generated-content dt { font-weight: bold; margin: 5px 0 0; }
.user-generated-content dd { font-style: italic; }
.user-generated-content a { color: #425363; transition:0.7s all; }
.user-generated-content a:hover { text-decoration:underline; }
.user-generated-content strong { font-weight: 800; }
.user-generated-content em { font-style:italic; }
.user-generated-content h1,
.user-generated-content h2,
.user-generated-content h3,
.user-generated-content h4,
.user-generated-content h5,
.user-generated-content h6 { margin: 18px 0 0; line-height: normal; }
.user-generated-content table,
.user-generated-content dl,
.user-generated-content ol,
.user-generated-content ul { margin: 15px 0 0; }
.user-generated-content ol ol,
.user-generated-content ol ul,
.user-generated-content ul ol,
.user-generated-content ul ul { margin: 15px 0; }
.user-generated-content :nth-child(1) { margin-top: 0; }

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {
	.user-generated-content p,
	.user-generated-content h1,
	.user-generated-content h2,
	.user-generated-content h3,
	.user-generated-content h4,
	.user-generated-content h5,
	.user-generated-content h6 { margin: 24px 0 0; }
	.user-generated-content h1,
	.user-generated-content h3,
	.user-generated-content h5 { font-size: 1.85rem; }
	.user-generated-content h2,
	.user-generated-content h4,
	.user-generated-content h6 { font-size: 1.5rem; }
}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}

/*-------------------------
	header
---------------------------*/
.header { background-color: #CCC; }
.header__inner { display: flex; flex-direction: row; justify-content: space-between; padding: 20px 0; }
.header__logo {  }
.header__nav { display: flex; flex-direction: row; }
.header__nav-item { margin: 0 25px;  }
.header__nav-item-link { text-decoration: none; font-size: 1.275rem; }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {
	.header__nav-item-link { font-size: 1.275rem; }
}
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	footer
---------------------------*/
.footer { background-color: #BBB; }
.footer__inner { display: flex; flex-direction: row; justify-content: space-between; padding: 40px 0; }
.footer__logo {  }
.footer__nav { display: flex; flex-direction: column; }
.footer__nav-item {  }
.footer__nav-item-link { text-decoration: none; }
.footer__contact { display: flex; flex-direction: column; }
.footer__bottom-bar { background-color: #999; }
.footer__legal { padding: 10px 0; }
.footer__copyright {  }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	hero
---------------------------*/
.hero { background: rgba(55, 55, 55, 0.5) none no-repeat center center; background-size: cover; color: #FFF; background-blend-mode: multiply; }
.hero__inner { display: flex; flex-direction: row; padding: 100px 0; }
.hero__inner-block { width: 50%; }
.hero__inner-content { width: 50%; }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	pg-home
---------------------------*/
.pg-home { background-color: #FFF; }

.pg-home__spotlight {  }
.pg-home__spotlight-inner { display: flex; flex-direction: row; padding: 60px 0; }
.pg-home__spotlight-block { width: 50%; }

.pg-home__games { background-color: #EEE; }
.pg-home__games-inner { display: flex; flex-direction: row; flex-wrap: wrap; padding: 60px 0; }
.pg-home__games-block { width: 33%; padding: 10px 0; }
.pg-home__games-block-image { padding-bottom: 20px; }
.pg-home__games-block-content {  }

.pg-home__news { padding-bottom: 120px; }
.pg-home__news-inner { padding: 40px 0; }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	excerpt
---------------------------*/
.excerpt { padding: 30px 0; }
.excerpt__details {  }
.excerpt__details-title {  }
.excerpt__details-credits { display: flex; flex-direction: row; }
.excerpt__details-credits-author { padding-right: 5px; border-right: 1px solid #AAA; margin-right: 5px; }
.excerpt__details-credits-date {  }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }