@charset "utf-8";

/* Reset Styles */
*, *::after, *::before { margin: 0; padding: 0; border: 0; line-height: inherit; color: inherit; text-transform: inherit; font-weight: inherit; font-style: inherit; font-size: inherit; font-family: inherit; background-color: transparent; outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -moz-box-sizing: border-box; box-sizing: border-box; }
ol, ul { list-style: none inside none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: inherit;}
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
blockquote, q { quotes: "" ""; }
button { cursor: pointer; }
button:focus, button:active { outline:0; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { padding:0; border: 0; margin: 0; line-height: normal; }
header, footer, nav, article, section, main { display: block; }
:-ms-input-placeholder { color: #ccc; opacity: 1; }
::-webkit-input-placeholder { color: #ccc; opacity: 1; }
::-moz-placeholder { color: #ccc; opacity: 1; }
::-ms-clear { display: none; }
select.__placeholder { color: #ccc; opacity: 1; }
input, textarea, select { background: none; margin: 0; padding: 0; display: block; width: 100%; line-height: normal; -moz-user-select: text; -webkit-user-select: text; -ms-user-select: text; -webkit-appearance: none; -moz-appearance: none; appearance: none; resize: none; }
textarea { height: 100%; }
select::-ms-expand { display: none; }

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) { }
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) { }
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) { }
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) { }

/*-------------------------
	Core Elements/Tags
---------------------------*/
html { font-size: 16px; -webkit-text-size-adjust: 100%; }
body { font-size: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: ""; background-color: #999; }

/*-------------------------
	container
---------------------------*/
.container { margin: 0 auto; padding: 0 20px;}

@media only screen and (min-width : 480px) { }
@media only screen and (min-width : 768px) { }
@media only screen and (min-width : 992px) { 
	.container { padding: 0 50px; max-width: 1200px;}
}
@media only screen and (min-width : 1200px) { }

/*-------------------------
	heading
---------------------------*/
.heading {  }
.heading--footer-column {  }
.heading--alt {  }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	buttons
---------------------------*/
.btn { text-decoration: none; }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	user-generated
---------------------------*/
.user-generated {  }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	header
---------------------------*/
.header { background-color: #CCC; }
.header__inner { display: flex; flex-direction: row; justify-content: space-between; padding: 20px 0; }
.header__logo {  }
.header__nav { display: flex; flex-direction: row; }
.header__nav-item { margin: 0 25px;  }
.header__nav-item-link { text-decoration: none; }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	footer
---------------------------*/
.footer { background-color: #BBB; }
.footer__inner { display: flex; flex-direction: row; justify-content: space-between; padding: 40px 0; }
.footer__logo {  }
.footer__nav { display: flex; flex-direction: column; }
.footer__nav-item { margin: 0 25px; }
.footer__nav-item-link { text-decoration: none; }
.footer__contact { display: flex; flex-direction: column; }
.footer__bottom-bar { background-color: #999; }
.footer__legal { padding: 10px 0; }
.footer__copyright {  }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	hero
---------------------------*/
.hero { background: rgba(55, 55, 55, 0.5) none no-repeat center center; background-size: cover; color: #FFF; background-blend-mode: multiply; }
.hero__inner { display: flex; flex-direction: row; padding: 100px 0; }
.hero__inner-block { width: 50%; }
.hero__inner-content { width: 50%; }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	pg-home
---------------------------*/
.pg-home { background-color: #FFF; }

.pg-home__spotlight {  }
.pg-home__spotlight-content {  }
.pg-home__spotlight-gallery {  }

.pg-home__games { background-color: #EEE; }
.pg-home__games-inner { display: flex; flex-direction: row; flex-wrap: wrap; }
.pg-home__games-block { width: 33%; padding: 10px 0; }
.pg-home__games-block-content {  }
.pg-home__games-block-image {  }

.pg-home__news { padding-bottom: 180px; }
.pg-home__news-inner {  }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }

/*-------------------------
	excerpt
---------------------------*/
.excerpt { padding: 30px 0; }
.excerpt__details {  }
.excerpt__details-title {  }
.excerpt__details-credits {  }
.excerpt__details-credits-author {  }
.excerpt__details-credits-date {  }

@media only screen and (min-width : 480px) {  }
@media only screen and (min-width : 768px) {  }
@media only screen and (min-width : 992px) {  }
@media only screen and (min-width : 1200px) {  }